{% extends "base.html.tera" %}

{% block content %}
<h1 class="title">All Users</h1>

<table class="table is-fullwidth is-striped is-hoverable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Joined</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.full_name }}</td>
            <td>{{ u.email }}</td>
            <td><span class="tag">{{ u.role }}</span></td>
            <td>{{ u.created_at }}</td>
            <td><a class="button is-small is-info" href="/users/{{ u.id }}">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
