{% extends "base.html.tera" %}

{% block content %}
<div class="columns is-centered mt-5">
    <div class="column is-5">
        <div class="box p-6 fade-in">
            <div class="has-text-centered mb-5">
                <span class="icon is-large has-text-link">
                    <i class="fas fa-user-lock fa-3x"></i>
                </span>
                <h1 class="title mt-3">Welcome Back</h1>
                <p class="subtitle is-6 has-text-grey">Sign in to your account</p>
            </div>

            <form method="POST" action="/users/login">
                <div class="field">
                    <label class="label"><i class="fas fa-user mr-1"></i>Username</label>
                    <div class="control has-icons-left">
                        <input class="input is-medium" type="text" name="username" placeholder="Enter your username" required autofocus>
                        <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                    </div>
                </div>
                <div class="field">
                    <label class="label"><i class="fas fa-lock mr-1"></i>Password</label>
                    <div class="control has-icons-left">
                        <input class="input is-medium" type="password" name="password" placeholder="Enter your password" required>
                        <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                    </div>
                </div>
                <div class="field mt-5">
                    <div class="control">
                        <button class="button is-link is-medium is-fullwidth" type="submit">
                            <i class="fas fa-sign-in-alt mr-2"></i>Login
                        </button>
                    </div>
                </div>
            </form>

            <div class="has-text-centered mt-4">
                <p class="has-text-grey">
                    Don't have an account?
                    <a class="has-text-weight-bold" href="/users/register">Register here</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
